.container-text-input {
    width: 600px;
    background-color: #FFF;
    height: 40px;
    padding: 5px; 
    border: 1px solid #0087cf;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.text-input {
    width: 80%;
    border: none;
    color: #0087cf;
    font-size: 18px;
}

.text-input:focus {
    outline: none;
    border: none;
    /* border-color: #0087cf; */
}

.button {
    background-color: #0087cf; 
    width: 20%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.button:hover {
    cursor: pointer;
}

.container-thumbnail {
    display: flex; 
    padding-top: 10px;
}

.container-tumbnail-desc {
    padding-left: 20px;
}

.thumbnail-title {
    width: 400px;
}

.thumbnail-image {
    width: 200px;
    height: 130px;
}

.container-progress-bar {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

.proggres-bar {
    height: 20px;
    background-color: orange;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 480px) and (max-width: 620px)  {
    .container-text-input {
        width: 450px;
    }
 }

@media only screen and (max-width: 480px) {
    .container-text-input {
        width: 100%;
    }

    .button {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container-thumbnail {
        display: flex; 
        flex-direction: column;
        align-items: center;
        padding-top: 10;
    }

    .thumbnail-title {
        width: 100%;
    }

    .thumbnail-image {
        width: 100%;
        height: auto;
    }
  }  

